body { 
    background: url('http://kevinchassagne.com/assets/images/template/sidebar.png'); 
  }
  
  .center {
    margin: 0 auto;
    width: 100%;
  }
  
  .center input[type="checkbox"] {
    position: relative;
    display: inline-block;
    min-height: 50px;
    width: 80px;
    background: #ebebeb;
    font-size: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: rgb(36, 241, 46);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
  }
  
  .center input[type="checkbox"]:after {  
    content:'';
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    line-height: 0.9em;
    color: #555555;
    position: absolute;
    margin: auto auto;
    left: 0; right: 0; bottom: 0; top: 0;
    display: block;
    height: 20px;
    width: -10px;
    background-image: none;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
   }
  
  .center input[type="checkbox"]:before { 
    position: absolute;
    margin: auto auto;
    left: 0; right: 0; bottom: 0; top: 0;
    content: '';
    display: block; 
    height: 15px;
    width: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }
  
  .center input[type="checkbox"]:hover:before {
    height: 15px;
    width: 15px;
  }
  
  .center input[type="checkbox"]:checked:before {
    height: 100%;
    width: 100%;
    background: #020483;
    border: none;
    border-radius: 0;
  }
  
  .center input[type="checkbox"]:disabled {
    position: relative;
    display: inline-block;
    min-height: 50px;
    width: 80px;
    background: #ebebeb;
    font-size: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: rgb(103, 104, 103);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(110, 110, 110);
  }

  .center input[type="checkbox"]:focus {
    outline: none;
  }
  
  .center input[type="checkbox"].a:after { content: attr(value) ; } 
  